<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Touka </h3>
	<p> Date: 2-01-18 </p>
	<img src="../../images/Drawing4.png">

	<p class="Center"> This was my first attempt at drawing a detailed person. Overall I enjoy the shading from left to right in the hair. The shading overall is good here, specifically under the chin and on the shoulder. However, I struggled with making the eyes and still struggle a bit with facial features </p>

	<div class="Page-Divider"></div>
	<h2 class="End"> Created by Mark Pillco</h2>
</body>

</html>