<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Tree </h3>
	<p> Date: 1-27-18 </p>
	<img src="../../images/Drawing3.png">
	<div class= "Center">
	<p> Similar to the prior photo, I enjoy nature so I decided to draw a tree. Looking back at how this is drawn, there is a slight slant from the bottom towards the top. However, it doesn't completely mess up the photo! I very much like how the shading came out in this photo, specifically the darker shading from the bottom toward the top of the leaves.
	</p>
	</div>

</body>

</html>