<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Xayah </h3>
	<p> Date: 4-12-18 </p>
	<img src="../../images/Drawing6.png">
	<p class="Center"> This another photo of a detailed person, where again you can tell that I struggle with facial features. However, I very much like how the strokes for the hair turned out, I would like to later do a full body drawing but I don't think I'm there yet. </p>
	<div class="Page-Divider"></div>
	<h2 class="End"> Created by Mark Pillco</h2>
</body>

</html>