<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Person A </h3>
	<p> Date: 1-05-18 </p>
	<div class="Drawing1">
	<img src="../../images/Drawing1.png">
	</div>
	<p class="Center"> This is the first drawing I have in my notebook. This occurred when I was still wondering what I wanted to do, I didn't feel like Comp Sci was all that I wanted to do. I found a drawing notebook at my job and I left it there for about a month. After that month, I decided to take it as no one came to claim it. Arguably the best decision I've made this year, as it sparked a passion for art. So whoever left that artbook at my job, thank you.
		<div class="Page-Divider"></div>
	<h2 class="End"> Created by Mark Pillco</h2>
</body>

</html>