<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Rose </h3>
	<p> Date: 1-20-18 </p>
	<img src="../../images/Drawing2.png">
	<div class= "Center">
	<p> This is one of the first things I've drawn. I enjoy nature and flowers, primarily roses, so I figured I'd draw one. one of the harder parts that I had with this project is understanding what shading was. I originally didn't have any in the center of the photo, until a friend informed me about what it was. 
	</p>
	</div>

	<div class="Page-Divider"></div>
	<h2 class="End"> Created by Mark Pillco</h2>
</body>

</html>