<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Eye </h3>
	<p> Date: 4-10-18 </p>
	<img src="../../images/Drawing8.png">
	<p class="Center"> I saw an artist friend do a 5 minute eye challenge on his ig, so I figured why not I had 5 minutes to spare. Overall I like how the eyebrow came out and the way the eye came out! I can do individual parts pretty well but still putting together all those facial features is harder. </p>
</body>

</html>