<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> <a href="../../index.html"> MARK PILLCO</a> </h1>
	<!-- Page Divider -->
	
	

	<!-- Menu -->
	<h2> Programmer, Artist, Student </h2>
	<div class="Header">
		<a id="OneButton" href="../../index.html"> Home </a> 
		<a href="../about.html">About</a> 
		<a href="../cv.html"> CV </a> 
	</div>
	
	<div class="Page-Divider"> </div>
	<h3> Pigeon </h3>
	
	<img src="../../images/Drawing7.png">
	<p class="Center"> One day during the summer I was waiting for my friends at Union Square so that we could go to the gym together. They were taking a long time and I had my notebook with me. I saw a pigeon and decided to draw it to pass the time. I finished and right after they showed up. Also it is named Return because I had taken a hiatus from drawing. </p>
	<div class="Page-Divider"></div>
	<h2 class="End"> Created by Mark Pillco</h2>

</body>

</html>